@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Quicksand:wght@300..700&display=swap');

.container {
    height: 100%;
    background-color: #d1d1ec;
    width: 100vw;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo {
    color: #0c005c;
    font-size: 30px;
    font-family: 'Poppins' sans-serif; 
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.autor {
    height: 500px;
    width: auto;
    margin-bottom: 30px;
}

.bio {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.8rem;
    border: 2px solid gray;
    max-width: 600px;
    margin: 2rem auto;
    font-family: 'Poppins' sans-serif; 
    font-size: 18px;
}

.bio h2 {
    text-align: center;
    color: #1f2937;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

