.barraNavegacao {
    height: 100px;
    background-color: #2e355a;
    font-weight: bold;
    padding: 30px;

}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 50px;
    text-decoration: none;
}

a {
    color: #d1d1ec;
}